body {
    background-color: rgb(162, 196, 124);
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

input[type="number"] {
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;

}

#message {
    font-size: bold;
    color: cornflowerblue;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;

}